@model Ingredient
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form asp-action="AddIngredient" method="post">
    <label asp-for="Name">Ingredient: </label>
    <input asp-for="Name" />
    <label asp-for="Qty">Amount:  </label>
    <input asp-for="Qty"  min="1" />
    <label asp-for="Measure">Measurement: </label>
    <select asp-for="Measure">
        <option value="pounds">pounds</option>
        <option value="oz">ounces</option>
        <option value="tbs">tablespoon</option>
        <option value="tsp">teaspoon</option>
        <option value="cup">cup</option>
        <option value="1/100 Cup">0.01 Cup</option>
        <option value="gallons">gallons</option>
    </select>
    <input asp-for="parent" value="@Model.parent" type="hidden" />
    <br />
    <button type="submit">Add Ingredient</button>
</form>