@{
    ViewData["Title"] = "Home Page";
}
@model Recipe[]

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    @{ foreach (var r in Model)
        {
            <div>Name: @r.Name</div>
            <div>Description: @r.Description</div>
            
            //var id = new GuidForm();
           
            <a href="/Home/RecipeDetails/@r.Id">Details</a>
        }
    }
</div>
